@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 1rem;
  background-color: #000;
  color: #fff;
}

.navbar__links {
  justify-self: end;
}

.navbar__links a {
  color: #fff;
  text-decoration: none;
}
ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-right: 0.625rem;
}
